:root {
  --salmon: #ff7979;
  --shamrock: #38cc8b;
  --butterfly-bush: #5e54a4;
  --tuna: #3d3b48;
}

.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
  min-height: 100vh;
  background: url("../images/Wallpaper.png") #ffffff;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 44px;
  }
}

.text-wrapper {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) {
    width: 50%;
    gap: 24px;
  }

  h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.29px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;

      font-family: Poppins;
      font-weight: 700;
      font-size: 50px;
      line-height: 55px;
      letter-spacing: -0.52px;
    }
  }

  p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.banner {
  background: var(--butterfly-bush);
  box-shadow: 0px 8px 0px 0px #00000025;
  padding: 18px 68px;
  color: #ffffff;
  border-radius: 10px;

  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.27px;
  text-align: center;

  span {
    font-weight: 700;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 8px 0px 0px #00000025;
  border-radius: 10px;

  label {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .input-container {
    position: relative;
  }

  input {
    border-radius: 5px;
    padding: 16px 20px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #dedede;
    color: var(--tuna);
    outline: none;

    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;

    &::placeholder {
      color: var(--tuna);
      opacity: 75%;
    }

    &:focus {
      border-color: var(--butterfly-bush);
    }
  }

  .error-input {
    color: var(--salmon);
    border-color: var(--salmon);
  }

  img {
    position: absolute;
    top: 50%;
    right: 28px;
    translate: 0 -50%;
  }

  .error-text {
    color: var(--salmon);
    font-family: Poppins;
    font-weight: 500;
    font-style: italic;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: right;
  }

  button {
    cursor: pointer;
    padding: 16px 0;
    background: var(--shamrock);
    box-shadow: 0px -4px 0px 0px #00000017 inset;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s linear;

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;

    &:hover {
      background: #77e2b3;
    }
  }

  p {
    margin-top: -8px;
    color: #bab7d4;
    font-family: Poppins;
    font-weight: 500;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;

    a {
      text-decoration: none;

      span {
        color: var(--salmon);
      }
    }
  }
}
